<div class="row">
  <h2 class="col-12">Dashboard</h2>
  <div class="col-md-3">
    <div class="card task">
      <h5 class="card-title">Task to do:</h5>
      <p class="card-body"></p>
    </div>
    <div class="card taskFinished">
      <h5 class="card-title">Task finished:</h5>
      <p class="card-body"></p>
    </div>
    <div class="taskForm card p-2">
      <form class="card-body taskForm" action="">
        <div class="form-group">
          <label for="taskTitle">Task Title</label>
          <input
            type="text"
            name=""
            class="form-control"
            id="taskTitle"
            placeholder="Title"
            required
          />
        </div>
        <div class="form-group">
          <label for="DEscription">Description</label>
          <textarea
            name=""
            id="taskDescription"
            cols="30"
            rows="3"
            class="form-control"
            placeholder="Description"
            requried
          ></textarea>
        </div>
        <input type="submit" class="btn btnSubmit w-100" value="Add Task" />
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Tasks</h4>
    <hr />
    <div class="task-area row"></div>
  </div>
</div>
