<div class="row">
  <h2 class="col-12">Dashboard</h2>
  <div class="col-md-3">
    <div class="taskForm card p-2">
      <form class="card-body taskForm" id="taskForm" action="">
        <div class="form-group">
          <label for="taskTitle">Task:</label>
          <input
            type="text"
            name=""
            class="form-control"
            id="taskTitle"
            placeholder="Title"
            required
          />
        </div>

        <input type="submit" class="btn btnSubmit w-100" value="Add Task" />
      </form>
    </div>
    <div class="card task">
      <h5 class="card-title">Task to do:</h5>
      <span class="card-body" id="tasks-todo">0</span>
    </div>
    <div class="card taskFinished">
      <h5 class="card-title">Task finished:</h5>
      <span class="card-body" id="tasks-finished">0</span>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Tasks</h4>
    <hr />
    <div class="task-area row"></div>
  </div>
</div>
